:root {
    --primary-text-color: #434455;
    --primary-white-color: #ffffff;
    --second-text-color: #2E2F42;
    --footer-text-color: #E7E9FC;
    --logo-web-color: #4D5AE5;
    --second-background-color: #F4F4FD;
}

/* General */

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.section-title {
    color: var(--second-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11; 
    text-align: center;
    text-transform: capitalize;
}

.list-title {
    color: var(--second-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}


/* Logo */
.logo {
    color: var(--logo-web-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-top {
    color: var(--second-text-color);
}

footer .logo {
    line-height: 1.16;
}

.logo-bott {
    color: var(--second-background-color);
    line-height: 1.16;
}

/* header */

/* navigation */
.site-nav .link {
    color: var(--second-text-color);
    font-weight: 500;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--primary-text-color)
}

.site-nav .link:active {
    color: var(--logo-web-color);
}

/* Contact */
.contact .link {
    color: var(--primary-text-color);
}

.contact .link:hover,
.contact .link:focus {
    color: var(--logo-web-color)
}

/* main */
.hero {
    background-color: var(--second-text-color);
}

.hero-title {
    color: var(--primary-white-color);
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

button {
    background-color:var(--logo-web-color);
    color: var(--primary-white-color);
    font-family: inherit;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.04em;
    cursor: pointer;
}

button:active {
    background-color: #404BBF;
}

/* selection 1 */

.title-hidden {
    display: none;
}

/* Selection 3 */

.team {
    background-color: var(--second-background-color);
}


/* footer */
footer {
    background-color: #2E2F42;
}

.footer-text {
    color: var(--footer-text-color);
}



/* Portfolio - Filtrs */

.list .portfolio {
    background-color: var(--second-background-color);
    color: var(--logo-web-color);
 }

 .list .portfolio:hover,
 .list .portfolio:focus,
 .list .portfolio:active {
    color: var(--primary-white-color);
    background-color: var(--logo-web-color);
 }